@page
@model MoviesWebApp.Pages.Directors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center font1">All Directors</h1>

<p>
    <a asp-page="Create" class="btn btn-dark">Add New Director</a>
</p>
<div class="row">
    @foreach (var item in Model.Director)
    {
        <div class="col-3">
            <div class="card mb-2">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.DirectorName)</h4>
                </div>
                <div class="card-footer">
                    <a asp-page="./Edit" class="btn btn-secondary mr-2" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Delete" class="btn btn-warning" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>